---
import { SITE, LiveSocials, PLATFORMS } from "@/siteConfig";

import Introduction from "@/components/Introduction.astro";
import IconLink from "@/components/IconLink.astro";
import CustomLink from "@/components/CustomLink.astro";
import { Icon } from "astro-icon/components";
import LiveLink from "./LiveLink.astro";
---

<Introduction />
<ul class="flex flex-wrap justify-center gap-4 py-12">
  {
    SITE.iconLinks.map((link) => {
      return <IconLink url={link.url} icon={link.icon} />;
    })
  }
</ul>
<h3 class="pb-5 text-center text-5xl font-extrabold">🔴Live Streams</h3>
<ul class="grid gap-y-6 pb-4 pt-4">
  <CustomLink
    url={"https://rumble.com/c/MastersMahan/live"}
    glassColor={""}
    className={[`min-h-[75px] flex-row items-center justify-center rounded-md`]}
    listItemClass={"block rounded-md md:hover:scale-105 md:transition-all md:easing-in-out md:duration-500 bg-[url('https://1a-1791.com/video/z8/d/V/u/x/dVuxa.caa.a-MastersMahan-swz5c3.jpeg')]  bg-cover bg-center"}
  >
    <Icon slot="icon" name={"rumble"} class:list={["size-8"]} color={"green"} />

    <span slot="content" class:list={["gTitle text-2xl font-extrabold"]}
      >Rumble</span
    >

    <sub slot="subtitle" class="font-mono uppercase"></sub>
  </CustomLink>
</ul>
<ul class="grid gap-5 md:grid-cols-3">
  {
    LiveSocials.map((s) => (
      <LiveLink
        url={s.url}
        title={s.title}
        subtitle={s.subtitle ?? ""}
        platform={s.platform}
      />
    ))
  }
</ul>
<ul class="grid gap-y-6 pb-12 pt-4">
  {
    SITE.customLinks.map((link) => {
      return (
        <CustomLink url={link.url} className={link.className}>
          <Fragment slot={"content"}>
            <div
              class="w-full items-center justify-center text-center align-middle"
              set:html={link.customHtml ?? link.title}
            />
          </Fragment>
        </CustomLink>
      );
    })
  }
</ul>
<slot name="dynamic"> No Dynamic Links </slot>
