---
import { SITE, LiveSocials } from "@/siteConfig";

import Introduction from "@/components/Introduction.astro";
import IconLink from "@/components/IconLink.astro";
import CustomLink from "@/components/CustomLink.astro";
import { Icon } from "astro-icon/components";
import LiveLink from "./LiveLink.astro";
---

<Introduction />
<ul class="flex flex-wrap justify-center gap-4 py-12">
  {
    SITE.iconLinks.map((link) => {
      return <IconLink url={link.url} icon={link.icon} />;
    })
  }
</ul>
<h3 class="pb-5 text-center text-5xl font-extrabold">🔴Live Streams</h3>
<ul class="grid grid-cols-3 gap-5">
  {
    LiveSocials.map((s) => (
      <LiveLink
        url={s.url}
        title={s.title}
        subtitle={s.subtitle ?? ""}
        platform={s.platform}
      />
    ))
  }
</ul>
<ul class="grid gap-y-6 pb-12 pt-4">
  {
    SITE.customLinks.map((link) => {
      return (
        <CustomLink url={link.url} className={link.className}>
          <div set:html={link.customHtml ?? link.title} />
        </CustomLink>
      );
    })
  }
</ul>
